html
{
	height : 100%;
}
body
{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: #555;
	width : 100%;
	padding : 0;
	margin : 0;
}

.mycompte 
{
	border-radius: 3px;
	background: #333;
	text-transform: uppercase;
	color: white;
	padding: 15px 15px;
	margin: 20px 0px;
	text-align: center;
	display:inline-block;
	text-decoration:none; 
}

.mycompte:hover 
{
	background: green;
}
#change
{
	width : 30%;
}

.color-font
{
	color : white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nouveau_pass
{
	background-color: #333;
	width: 40%;
	padding : 20px;
	border : 1px solid black;
}

#bip_moncompte
{
	width :70px;
	height :10px;
}

.moncompte h1 
{
	text-decoration: underline;
}

h3
{
	text-decoration: underline;
}

#contenu
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding : 20px;
	background-color: rgba(255,255,255,0.7);
	color : #333;
	width : 90%;
	margin-top: 150px;
	font-size : 25px;
}

.form a
{
    text-decoration: none;
}

#page a
{
	text-decoration: none;
	color : green;
}

#logofond
{
    margin-bottom: 100px;
}

.connexion
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border : 2px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
	border-radius: 10px;
}

.form
{
	overflow : hidden;
}

.inscription
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border : 2px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
	border-radius: 10px;
}

.shadow2
{
	visibility : hidden;
}

.shadow3
{
	visibility : hidden;
	width : 250px;
	height : 65px;
	background-color: #333;
	border : 2px solid #696969;
}

.shadow
{
	position : fixed;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	background : rgba(0, 0, 0, 0.7);
	transition : opacity 500ms;
	visibility : hidden;
	opacity : 0;
	z-index : 2;
}
.error_mc
{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color : white;
}
.nodisplay
{
    display : none;
}

#register:target
{
	visibility : visible;
	opacity : 1;
}

#login:target
{
	visibility : visible;
	opacity : 1;
}

.code
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border : 2px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}

#code:target
{
	visibility : visible;
	opacity : 1;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.all
{
	overflow : hidden;
	width : 1750px;
	/* min-width : 850px; */
}
/* 
@media all and (max-width: 790px)
{
	.galerie
	{
		width : 100%;
	}
	.ensemble_photo
	{
		width : 400px;
	}
	.menu
	{
		padding-top: 30px;
		padding-bottom: 10px;
		height : 230px;
	}
	.menu p
	{
		color : white;
		font-size: 25px;
		position : absolute;
		top : 200px;
		right : 0px;
	}
	.menu a
	{
		display : block;
	}
} */

.menu2
{
	height : 45px;
    background-color: #444;
}

.menu2 li
{
        float: left;
        border-right:1px solid #bbb;
}

.menu2 a:hover
{
    background-color : green;
}

menu2 a:hover:not(.active) 
{
    background-color: #111;
}

.menu2 a
{
    z-index: 3;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main
{
	margin : 0px;
	width : 100%;
	min-height : 180px;
	margin-top : 50px;
	position : relative;
	padding : 0px;
}

#phrase
{
    margin-right: 50px;
}

#wrong2
{
	color : #333;
	width : 100%;
	background-color: grey;
}

#wrong
{
	color :#696969;
}

#wrong_login
{
	height : 10%;
	background-color : #CD5C5C;
}

.reset_pass
{
	margin : 0 auto;
	padding : 50px 50px 70px 50px;
	width : 40%;
	background-color: #333;
	color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer
{
	z-index : 3;
    right : 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type=text], input[type=password] 
{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus 
{
    background-color: #ddd;
    outline: none;
}

hr {

    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


button:hover 
{
    opacity: 1;
}

.button_supimg2
{
	width : 95%;
	border-radius: 4px;
	background-color: #B22222;
	color : #333;
}

.button_supimg
{
	text-align: right;
	
}
.button_supimg button
{

	margin-top : 0px;
	border-radius: 4px;
	background-color: #B22222;
	color : #333;
	width : 40px;
	height : 40px;
}
.button_supimg2 button
{

	margin-top : 0px;
	border-radius: 4px;
	background-color: #B22222;
	color : #333;
	padding : 10px 10px 10px 10px;
}

.button_sup3 
{
	border : 1px solid grey;
	width : 100%;
	font-size : 15px;
	margin-top : 10px;
	border-radius: 4px;
	background-color: #B22222;
	color : white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button_sup4 
{
	border : 1px solid grey;
	width : 100%;
	font-size : 15px;
	margin-top : 10px;
	border-radius: 4px;
	background-color: green;
	color : white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.div_montage
{
	width :100%;
}

#placehere.montage
{
	float : right;
	width: 400px;
	height : 750px;
	margin-right : 150px;
}
@media all and (max-width: 500px)
{
	.all
	{
		width :500px;
	}
	.menu2
	{
		width : 500px;
	}
	#phrase
	{
		font-size: 20px;
	}
	#logofond
	{
		width : 200px;
	}
	.mycompte
	{
		width : 100%;
		font-size: 30px;
		margin : 0;
		padding: 0;
	}
	menu2
	{
		width : 100px;
	}
	ul
	{
		width : 600px;
	}
	li
	{
		width : 25%;
	}
	a
	{
		width : 25%;
	}
	.div_montage
	{
		width :500px;
		height : 300px;
	}
	#placehere.montage
	{
		width: 400px;
		height : 400px;
		margin-right : 20px;
	}
	#container
	{
		display: block;
		margin-bottom : 250px;
		margin-left : 100px;
	}
	.photo_bouton 
	{
		margin-top: 20px;
		float: left;
		width: 50px;
		height: 50px;
	}
	.image_montage
	{
		min-width : 100px;
	}
	#superpose 
	{
		width : 200px;
	}
	.montage
	{
		left : -40px;
	}
	.button_supimg
	{
		text-align: right;
		width : 400px;
		
	}
	#contenu
	{
		margin-bottom : 200px;
	}
}

@media all and (min-width: 980px) and (max-width: 1410px)
{
	#placehere.montage
	{
		width : 80%;
		height : 400px;
		margin-left : 100px;
		margin-right : 60px;
	}
	.button_supimg
	{
		text-align: right;
		width : 400px;
		
	}
	#container.container
	{
		width : 80%;
		margin-left : 12%;
	}
}
@media all and (min-width: 500px) and (max-width: 980px)
{
	.all
	{
		width :980px;
	}
	.menu2
	{
		width : 980px;
	}
	#phrase
	{
		font-size: 30px;
	}
	#logofond
	{
		width : 300px;
	}
	.mycompte
	{
		width : 100%;
		font-size: 50px;
		margin : 0;
		padding : 0;
	}
	menu2
	{
		width : 100px;
	}
	ul
	{
		width : 100%;
	}
	li 
	{
		width : 23%;
	}
	.div_montage
	{
		width :980px;
		height : 300px;
	}
	#placehere.montage
	{
		width: 700px;
		height : 400px;
		margin-right : 100px;
	}
	#container
	{
		display: block;
		margin-bottom : 250px;
		margin-left : 250px;
	}
	#superpose 
	{
		width : 600px;
	}
	.montage
	{
		left : -100px;
	}
	.button_supimg
	{
		text-align: right;
		width : 400px;
		
	}
	#contenu
	{
		margin-bottom : 200px;
	}
}

/* #placehere.montage
{
	width : 500px;
} */

/* @media all and (max-width: 850px)
{
	.montage
	{
		padding: 0; 
	}
} */
/* 
@media all and (max-width: 790px)
{
	.galerie
	{
		width : 100%;
	}
	.ensemble_photo
	{
		width : 400px;
	}
	.menu
	{
		padding-top: 30px;
		padding-bottom: 10px;
		height : 240px;
	}
	.menu p
	{
		color : white;
		font-size: 25px;
		position : absolute;
		top : 200px;
		right : 0px;
	}
	.menu a
	{
		display : block;
	}
} */

/* Extra styles for the cancel button */
#cancelbtn 
{
    padding: 14px ;
    background-color: #f44336;
    color: white;
    padding: 10px 225px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#mdpoub
{
    top: 10px;
    position: relative;
    padding: 14px ;
    background-color: #f44336;
    color: white;
    padding: 10px 150px;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn
{
  float: left;
  width: 100%;
}

.prendre
{
	float: left;
	background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9; 
}

.signupbtn 
{
	float: left;
	background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9; 
}

/* Clear floats */
.clearfix::after 
{
    content: "";
    clear: both;
    display: table;
}

Change styles for cancel button and signup button on extra small screens
@media screen and (max-width: 300px) 
{
    .cancelbtn, .signupbtn 
    {
       width: 100%;
    }
}

.ensemble_photo button
{
	cursor : pointer;
}

#photo
{
	border : 2px solid #333;
	width : 100%;
	height : 300px;
	max-width: 400px;
}
#photo2
{
	border : 2px solid #333;
	width : 100%;
	height : 300px;
	max-width: 400px;
}
#comentaire_photo.comentaire_photo
{
	color :white;
	background-color : #696969;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius : 3px;
}
/* comentaire_photo
{
	
	margin-top: 2px;
	text-align: left;
	padding-left: 30px;
	color : white;
	width : 200px;
	font-size : 14px;
	word-wrap: break-word;
	border-bottom:1px dashed white;
}
.comentaire_photo_2
{
	margin-top: 2px;
	text-align: left;
	padding-left: 30px;
	color : white;
	width : 200px;
	font-size : 14px;
	word-wrap: break-word;
	border-bottom:1px dashed white;
} */

.pdp_img
{
	width : 85%;
}

.no_public
{
	margin-top: 150px;
	margin-bottom: 150px;
	font-size : 15px;
	color : white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.date
{
	width : 35%;
	margin-top : 10px;
	margin-bottom :10px;
	color :white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 15px;
}
.date b
{
	color : black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#connec_ok
{
	background-color: rgba(255,255,255,0.7);
	width : auto;
	height : auto;
	color : #333;
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#plus_de_com
{
	background-color: rgb(144, 12, 63  );
	margin-top: 2px;
	text-align: left;
	padding-left: 30px;
	color : white;
	padding : 5px;
}
#comentaire-photo b
{
	text-decoration: underline;
}
#photo_up
{
	border : 2px solid #333;
	z-index : 1;
	width : 400px;
	height : 300px;
}

.ensemble_photo
{
	border-radius: 7px;
	background-color: #333;
	margin-top: 0px;
	width : 500px;
	margin-bottom: 70px;
	border : 2px solid #696969;
	position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}

.ensemble_photo img
{
	border : 2px solid #333;
	border-radius: 10px;
}


.photo_bouton
{
	margin-top: 20px;
	float : left;
	width : 130px;
	height : 160px;
	display: inline;
}
.photo_bouton img
{
	z-index: 2;
	width : 100px;
	cursor : pointer;
}
.photo_bouton img
{
	z-index: 2;
	width : 100px;
	cursor : pointer;
}

.valide_photo
{
	background-color: #333;
}

canvas
{
	display : none;
}

#pas_de_cam
{
	border: 2px solid #696969;
	background-color: #333;
	overflow : hidden;
	padding-top: 30px;
	float : left;
	width : 50%;
	min-width : 450px;
	margin-top : 50px;
}

#pas_de_cam button
{
	background-color : grey;
}

.montage
{

	border-radius : 2px;
	border : 2px solid #696969;
	background-color: #333;
	margin-right: 3%;
	margin-top: 50px;
	padding : 20px;
	width : 400px;
	overflow : auto;
	overflow-x: hidden;
	height : 830px;

}
.montage img
{
	width : 100%;
	max-width: 400px;
	margin-bottom: 30px;
	border : 2px solid #696969;
	border-radius: 3px;
}

.image_montage
{
	margin-top: 50px;
	height : 150px;
	width : 50%;
	overflow: auto;
	border-radius: 20px;
	background-color: #333;
}

.shadow2
{
	visibility : hidden;
}
.radio
{
	visibility : hidden;
}
.shadow
{
	position : fixed;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	background : rgba(0, 0, 0, 0.7);
	transition : opacity 500ms;
	visibility : hidden;
	opacity : 0;
	z-index : 2;
}

#trait
{
	border: 2px black;
}

#container
{
	border: 2px solid #696969;
	background-color: #333;
	overflow : hidden;
	padding-top: 30px;
	float : left;
	width : 50%;
	margin-top : 50px;
	margin-left : 100px;
	margin-bottom : 200px;
}


#container button
{
	background-color : grey;
}
.cheat video
{
	border : 2px solid #333;
	z-index : 1;
	width: 400px;
	height :  300px;
}

.cheat
{
	width : 90%;
	max-width: 400px;
	max-height: 600px;
	min-height: 300px;
	position : relative;
}

.cheat2
{
	width : 90%;
	max-width: 400px;
	max-height: 600px;
	min-height: 300px;
	position : relative;
}
#superpose
{
	position : absolute;
	z-index : 2;
	width : 400px;
	height : 300px;
	overflow : hidden;
}

#sup_img
{
	width : 100px;
	position : absolute;
	z-index: 2;
	left : 150px;
	top : 100px;
}

.like
{
	border : none;
	border-radius : 5px;
	width : 50px;
	background-color: #6495ED;
	cursor : pointer;
}

.dislike
{
	border : none;
	border-radius : 5px;
	width : 85px;
	background-color: #f44336;
	cursor : pointer;
}


#sup_img_2
{
	width : 100px;
	position : absolute;
	z-index: 2;
	left : 150px;
	top : 100px;
}

.text_write
{
	color : black;
	background-color: #333;
    resize: none;
}

.sup_img_cur
{
	cursor : pointer;
}

canvas
{
	display : none;
}

/* #button
{
	background-color: #333;
	color : white;
	margin : 30px;
	font-size : 12
	cursor : pointer;
} */

.pdp
{
	border-radius: 2px;
	width : 50px;
	height : 20px;
	font-size: 17px;
	color : white;
	background-color: #333;
	cursor: pointer;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.up_form
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : #333;
	padding : 30px;
	border : 3px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}

